@import './root.scss';


//about skill

.imengyu-icon-list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 40px 0 20px 0;
  flex-wrap: wrap;

  .link-item {

    position: relative;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    font-size: 22px;
    padding: 0 6px;
    width: 23%;
    margin-top: 10px;
  
    .title {
      font-size: 17px;
      font-weight: bold;
      color: #000;
      margin-top: 20px;
      padding-bottom: 10px;
      position: relative;
      text-align: center;
      font-family: 'AaLGH';

      @include mark-underline-center(10px, 0px);
    }
    .subtitle {
      font-size: 14px;
      color: #a8a8a8;
      text-align: center;
      margin-top: 15px;
    }
    i {
      display: inline-block;
      vertical-align: middle;
      font-size: 3rem;
      width: 2em;
      height: 2em;
      line-height: 2em;
      text-align: center;
      color: #000;
      transition: all ease-in-out 0.25s;
      background-image: url(../images/hexagon.svg);
      background-size: 2em;
      background-position: center;
      background-repeat: no-repeat;
  
      &:hover {
        transform: scale(1.1);
      }
      &::before {
        margin-right: 2px;
      }
    }
    
  }
}

//about big

.imengyu-about-subtitle {
  font-size: 12px;
  display: inline-block;
  color: #fff;
  background-color: #000;
  padding: 3px 6px;
  margin: 20px 0 10px 0px;
}
.imengyu-about-small {
  font-size: 13px;
  color: #b6b6b6;
}
.imengyu-about-content-left {
  display: inline-block;
  width: 66%;
  text-align: left;
}
.imengyu-about-big-image {
  position: absolute;
  display: inline-block;
  right: $page-padding-lg;
  top: 45%;
  right: 110px;
  margin-top: -150px;
  width: 200px;

  img {
    width: 200px;
  }
}
.imengyu-boy-background {
  position: absolute;
  width: 240px;
  right: 10px;
  bottom: 10px;
}
.imengyu-hidden-area { 
  
  opacity: 0;
  transition: all ease-in-out 0.3s;

  background-color: rgba(233, 233, 233, 0.767);
  background-image: url(../images/boy.png);
  background-position: right;
  background-size: 200px;
  background-repeat: no-repeat;
  text-align: center;
  font-size: 13px;

  pointer-events: none;
  
  padding-left: $page-padding-lg*2;
  padding-right: $page-padding-lg*2;

  code {
    font-size: 14px;
    background-color: #303030;
    color: #fff;
    border-radius: 5px;
    padding: 2px 6px;
  }

  &.float {
    position: absolute;
    left: -$page-padding-lg*2;
    right: -$page-padding-lg*2;
    height: 0;

    &.show {
      height: auto;
    }
  }

  &.show {
    padding-top: 40px;
    padding-bottom: 60px;
    opacity: 1;
    pointer-events: visible;
  }
}
.imengyu-hidden-area-placeholder {
  height: 0;
  transition: all ease-in-out 0.3s;
  &.show {
    height: 180px;
  }
}

//about contact
.imengyu-about-contact-title {
  display: inline-block;
  float: right;
}
.imengyu-about-contact-list {
  display: inline-block;
  position: relative;
  font-family: 'AaLGH';

  ul {
    position: relative;
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: block;
      padding: 6px 0;
     

      .icon {
        display: inline-block;
        font-size: 36px;
      }
      .sub {
        display: inline-block;
        font-size: 18px;
        margin-left: 20px;
        font-weight: bold;
  
        span {
          font-family: Arial, Helvetica, sans-serif;
          font-weight: normal;
          margin-top: 5px;
          display: block;
          font-size: 15px;
          color: #5c5c5c;
        }

        i {
          font-weight: normal;
        }
      }
    }
  }
}
.imengyu-about-list {
  position: relative;
  overflow: hidden;

  .item {
    padding: 3px 0;
  }
}


@media only screen and (max-width: 1020px) {

  //about skills
  .imengyu-icon-list {
    padding: 20px 0 0px 0;
  
    .link-item {
      padding: 0 3px;
      width: 33.33%;
    }
  }
  .imengyu-hidden-area {
    padding-left: $page-padding-md;
    padding-right: $page-padding-md;   
    padding-top: 20px;
    padding-bottom: 40px;

    &.float {
      left: -$page-padding-md;
      right: -$page-padding-md;
    }
  }
  .imengyu-about-big-image {
    right: 30px;
  }
}

@media only screen and (max-width: 700px) {

  //about
  .imengyu-about-host {
    text-align: center;
  }
  .imengyu-about-content-left {
    width: 100%;
  }
  .imengyu-about-big-image {
    position: relative;
    margin-top: 25px;
    right: 0;
  }
  .imengyu-hidden-area-placeholder.show {
    height: 230px;
  }
}
@media only screen and (max-width: 768px) {
  .imengyu-hidden-area-placeholder.show {
    height: 210px;
  }
}

@media only screen and (max-width: 500px) {
  
  //about skills
  .imengyu-icon-list {
    padding: 20px 0 10px 0;
  
    .link-item {
      padding: 0 3px;
      width: 47%;
    }
  }
  //about contact
  .imengyu-about-contact-title {
    display: block;
    float: none;
    text-align: center;
    font-size: 36px;
    white-space: nowrap;

    &.right {
      text-align: center;
    }
  }

  .imengyu-hidden-area-placeholder.show {
    height: 230px;
  }
  .imengyu-hidden-area {
    padding-left: $page-padding-sm;
    padding-right: $page-padding-md;    
    padding-top: 20px;
    padding-bottom: 20px;

    background-position: 120% center;
    background-size: 160px;
    text-align: left;

    &.float {
      left: -$page-padding-sm;
      right: -$page-padding-sm;
    }
  }
}