@import './root.scss';
@import './scroll.scss';

.imengyu-game-contol {

  position: absolute;
  bottom: 40px;
  left: 0;
  z-index: 300;

  .open-button {
    z-index: 0;
    position: absolute;
    bottom: 0;
    width: 50px;
    height: 50px;
    background-color: rgba(#fff, 0.7);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.03);

    &[data-open="true"] {
      i {
        display: inline-block;
        transition: transform ease-in-out 0.3s;
        transform: rotate(180deg);
      } 
      transform: translateX(266px);
    }
  }

  .box {
    z-index: 2;
    padding: 14px 10px 14px 16px;
    width: 240px; 
    background-color: rgba(#fff, 0.7);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.03);

    .item {
      position: relative;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 4px 0;


      > div {
        display: inline-block;
        max-width: 66%;
      }
      &.full > div {
        max-width: 100%;
      }
      > span {
        display: inline-block;
        width: 34%;
      }
    }
  }

  &.right {
    left: unset;
    right: 30px;
  }

  button {
    display: inline-block;
    background: none;
    font-size: 26px;
    font-weight: 200;
    width: 30px;
    height: 30px;
    padding: 0;
    border: none;
    padding: 0;
    background-color: #fff;
    cursor: pointer;
    margin-right: 6px;

    &.no-background {
      background-color: transparent;
      color: #fff;
    }
  }

  input[type="range"] {
    display: inline-block;
    vertical-align: middle;
    -webkit-appearance: none;

    &.vol {
      width: calc(100% - 55px);
    }
    &.sl {
      width: calc(100% - 100px);
    }

    background-color: #cecece;
    border-radius: 10px;
    height: 4px;
    padding: 0;
    border: none;
    margin-right: 12px;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      height: 20px;
      width: 20px;
      background: #e9e9e9;
      border-radius: 15px;
      border: 5px solid #000;
      cursor: pointer;
    }
    &:focus {
      outline: none;
    }
  }

  .volume-tool {
    position: absolute;
    width: 130px;
    top: -5%;
    left: 50%;
    transform: translateX(-50%) translateY(-130%);
    animation-duration: 200ms;

  }

  span {
    font-size: 14px;
    color: #000;
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.imengyu-music-control {
  background: transparent;
  padding: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.imengyu-icon-sort-info {
  font-size: 12px;
  font-family: 'AaLGH';
  line-height: 15px;
  padding: 6px 10px;
  color: #000;
}
.imengyu-icon-sort-text {
  position: relative;
  background-color: #fff;
  color: #000;
  text-align: left;
  height: 28px;
  display: inline-block;
  padding: 0 6px;
  font-size: 22px;
  font-weight: bold;
  font-family: 'AaLGH';
  line-height: 28px;
  max-width: 200px;
  text-overflow: ellipsis;

  &.spectrum {
    overflow: hidden;
    font-size: 12px;
    line-height: 12px;
    white-space: normal;
    padding-top: 4px;
    overflow: scroll;

    @include pc-fix-scrollbar-white();
  }
  .inn {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    background-color: #000;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;

    span {
      margin: 0 6px;
      color: #fff;
      font-size: 22px;
      line-height: 28px;;
    }
  }
}
.imengyu-sort-mode-select {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  opacity: 0;
  width: 100%;
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
  .imengyu-game-contol {
    bottom: $page-bottom-md;
  }  
}

@media only screen and (max-width: 500px) {
  .imengyu-game-contol {
    bottom: $page-bottom-sm;
    left: 0px;
    padding: 0;    
    z-index: 300;

    .open-button {
      width: 32px;
      height: 32px;
    }
  }  
  .imengyu-music-control {
    padding: 3px 0;
    margin-left: 0;
    background-color: transparent;
  }

}



