@import './fonts.scss';
@import './header.scss';
@import './scroll.scss';
@import './content.scss';
@import './root.scss';
@import './about.scss';
@import './works.scss';
@import './game.scss';
@import './light.scss';

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  position: relative;
  font-family: 'Microsoft YaHei', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 15px;
}
input, textarea, select, button {
  font-family: 'AaLGH', 'Microsoft YaHei', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
}

#imengyu-app, .imengyu,.imengyu-main {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  position: relative;
  font-size: 1rem;
}
.imengyu-main,.imengyu-dark {
  background-color: #f3f3f3;
}
.imengyu-canvas {
  background-color: #e7e7e7;
}
.imengyu-main-host {

  position: absolute;
  left: 0;
  right: 0;
  bottom: $page-bottom;
  top: $page-top;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  overflow-y: scroll;
  overflow-x: hidden;

  @include pc-fix-scrollbar-white();
}

//go button

.imengyu-go-button {
  display: inline-block;
  position: relative;
  padding: 3px 6px;
  color: #464646;
  transition: all ease-in-out 0.2s;
  margin-top: 20px;
  border: 2px solid transparent;
  cursor: pointer;
  color: #fff;
  background-color: #000;
  font-size: 14px;
  font-weight: bold;
  font-family: 'AaLGH';

  &.big {
    padding: 6px 12px;
  }

  i {
    font-size: 14px;
  }

  &:hover {
    background-color: #353535;
  }
    
}
.imengyu-icon-button {
  display: inline-block;
  position: relative;
  padding: 3px 6px;
  color: #000;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
  font-weight: bold;
  font-family: 'AaLGH';
  font-size: 22px;
  outline: none;

  &:hover, &:focus {
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.03);
    color: #555;
  }
}

//intro

.imengyu-intro {

  font-family: 'AaLGH';
  position: absolute;
  left: 0;
  right: 0;
  bottom: $page-bottom + 150px;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  z-index: 0;
  flex-direction: column;

  h1 {
    margin: 10px 0 15px 0;
    font-weight: bold;
    font-size: 30px;

    .name {
      font-size: 40px;
    }
  }

  .background {
    position: absolute;
    width: 350px;
    height: 600px;
    top: -50px;
    right: -42px;
    background-color: rgba(53, 53, 53, 0.03);
    transform: rotate(15deg);

    .hello {
      position: absolute;
      width: 200px;
      right: 75px;
      top: 350px;
      transform: rotate(-40deg);
    }
    .rainbow {
      position: absolute;
      width: 200px;
      transform: rotate(-30deg);
      right: 90px;
      top: 130px;
    }
  }
}

.imengyu-intro-box {
  padding: $page-padding-lg;
  text-align: center;
  //background-color: rgba(255, 255, 255, 0.55);
  //box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.03);
  width: 600px;

  h1 {
    position: relative;
    font-size: 50px;
    padding-bottom: 40px;

    &::after {
      display: inline-block;
      content: '';
      background-color: #000;
      width: 40px;
      height: 4px;
      position: absolute;
      bottom: 10px;
      left: 50%;
      margin-left: -20px;
      transition: all ease-in-out 0.3s;
    }

    &:hover {
      &::after {
        width: 100px;
        margin-left: -50px;
      }
    }
  }

  .text {
    display: block;
    color: #000;
    font-size: 27px;
    font-style: normal;
  }
  .tip {
    margin-top: 14px;
    font-style: normal;
    display: block;
    color: #979797;
    font-size: 12px;
  }

  .imengyu-go-button {
    margin-top: 50px;
  }
}

//404

.imengyu-404 {
  font-family: 'AaLGH';
  position: absolute;
  left: 0;
  right: 0;
  bottom: $page-bottom;
  top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  z-index: 0;
  flex-direction: column;
}
.imengyu-404-box {
  padding: $page-padding-lg;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.55);

  > span {
    display: block;
    color: #636363;
    font-size: 16px;
  }
  img {
    width: 100px;
    height: 100px;
  }
}

a {
  color: #111;
  transition: all ease-in-out 0.2s;

  &:hover, &:active {
    color: #7e7e7e;
  }
}

code {
  font-family: 'AaLGH';
}

ul, ol {
  margin-block-start: 5px;
  margin-block-end: 10px;
  padding-inline-start: 30px;
}



//copyright

.imengyu-copyright {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 0 0 20px 0;
  font-family: 'AaLGH';
  font-size: 1rem;

  a {
    text-decoration: none;
    text-shadow: 0px 1px 10px #fff;
  }
}


@media only screen and (max-width: 800px) {

  .imengyu-intro {
    bottom: $page-bottom-sm;
    top: $page-top-sm;
  
    h1 {
      font-size: 43px;
    }
  }
  .imengyu-intro-box {
    padding: $page-padding-sm;
    width: 500px;
  
    > i {
      font-size: 20px;
    }
    .tip {
      margin-top: 10px;
      font-size: 11px;
    }
  }
  .imengyu-404 {
    bottom: $page-bottom-sm;
    top: $page-top-sm;
  }
  .imengyu-404-box {
    padding: $page-padding-sm;

  }
  .imengyu-main-host {
    bottom: $page-bottom-md;
    top: $page-top-md;
  }
}

@media only screen and (max-width: 500px) {
  .imengyu-copyright {
    padding: 0 0 10px 0;
  }
  .imengyu-go-button {
    margin-top: 16px;
  }
  .imengyu-intro {
    bottom: $page-bottom-md;
    top: $page-top-md;
  
    h1 {
      font-size: 30px;
    }
  }
  .imengyu-intro-box {
    padding: $page-padding-md;
    width: calc(100vw - 40px);
  
    > i {
      font-size: 16px;
    }
    .tip {
      margin-top: 10px;
      font-size: 11px;
    }
  }
  .imengyu-404 {
    bottom: $page-bottom-md;
    top: $page-top-md;
  }
  .imengyu-404-box {
    padding: $page-padding-md;
  }
  .imengyu-main-host {
    bottom: $page-bottom-sm;
    top: $page-top-sm;
  }
}


.imengyu-canvas {
  width: 100%;
  height: 100%;
}


