
$highlight-color: #1c213b;
$primary-color: #000;

$page-padding-lg: 46px;
$page-padding-md: 35px;
$page-padding-sm: 26px;

$header-height: 50px;
$page-top: 80px;
$page-bottom: 60px;

$page-top-md: 70px;
$page-bottom-md: 45px;

$page-top-sm: 60px;
$page-bottom-sm: 30px;