@mixin text-underline-center($width, $bottom) {
  &::after {
    display: inline-block;
    content: '';
    background-color: #000;
    width: $width;
    height: 2px;
    position: absolute;
    bottom: $bottom;
    left: 50%;
    margin-left: -($width / 2);
    transition: all ease-in-out 0.3s;
  }
}
@mixin mark-underline-center($width, $bottom) {
  &::after {
    display: inline-block;
    content: '';
    background-color: rgb(49, 49, 49);
    width: $width;
    height: 4px;
    border-radius: 2px;
    position: absolute;
    bottom: $bottom;
    left: 50%;
    margin-left: -($width / 2);
    transition: all ease-in-out 0.3s;
  }
}

.text-center {
  text-align: center!important;
}
.display-inline-block {
  display: inline-block!important;
}
.display-block {
  display: block!important;
}
.display-none {
  display: none!important;
}
.float-right {
  float: right!important;
}
.no-padding {
  padding: 0!important;
}
.mt-0 {
  margin-top: 0!important;
}
.mt-3 {
  margin-top: 10px!important;
}
.ml-3 {
  margin-left: 10px!important;
}
.mr-3 {
  margin-right: 10px!important;
}
.bg-white {
  background-color: #fff!important;
}
.bg-transparent {
  background-color: transparent!important;
}
.text-decoration-none {
  text-decoration: none;
}
.position-relative {
  position: relative!important;
}

.background-transparent {
  background-color: transparent!important;
}

.imengyu-alpha-anim {
  transition: opacity ease-in-out 0.3s;

  &.show {
    opacity: 1;
  }
  &.hide {
    opacity: 0;
  }
}
.pb-0 {
  padding-bottom: 0!important;
}
.pt-0 {
  padding-top: 0!important;
}

.light-tooltip {
  padding: 8px 10px;
  background-color:#fff;
  border: 2px solid #000000;
  color: black;
  z-index: 300;
  min-width: 100%;

  &:focus {
    outline: none;
  }
}

.title-prop {
  font-size: 11px;
  font-weight: bold;
  color: #fff;
  background-color: #000;
  padding: 3px 5px;
  text-decoration: none;
  margin-right: 10px;
}
.black-box {
  background-color: #000;
  color: #fff;
  padding: 3px 6px;

  &.small {
    height: 26px;
    line-height: 26px;
    font-size: 13px;
  }
}



@media only screen and (max-width: 500px) { 
  .hide-sm {
    display: none;
  }
}